* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


.birinchi {
    background-image: url(./rasmlar/alisher\ fayz.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;  
}


.d2 {
    border-radius: 20px;
    box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.5);
}

.d22 {
    border-radius: 20px;
    box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.5);
    div {
        border-radius: 0px 0px 20px 20px;
        img {
            border-radius: 20px 20px 0px 0px;
        }
    }
}

.d23 {
    border-radius: 20px;
    box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.5);
    div {
        border-radius: 0px 0px 20px 20px;
        img {
            border-radius: 20px 20px 0px 0px;
        }
    }
}

.d24 {
    border-radius: 20px;
    box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.5);
    div {
        border-radius: 0px 0px 20px 20px;
        img {
            border-radius: 20px 20px 0px 0px;
        }
    }
}

.d25 {
    border-radius: 20px;
    box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.5);
    div {
        border-radius: 0px 0px 20px 20px;
        img {
            border-radius: 20px 20px 0px 0px;
        }
    }
}

.d26 {
    border-radius: 20px;
    box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.5);

    div {
        border-radius: 0px 0px 20px 20px;
        img {
            border-radius: 20px 20px 0px 0px;
        }
    }
}



@media (min-width: 1024px) {

main {
    background-color: #C4C4C4;
    width: 100%;
    height: 4093px;
    display: grid;
    grid-template-columns:  100%;
    grid-template-rows: 25% 15% 15% 35% 10%;
}

.birinchi {
    background-color: white;
    display: flex;
    padding: 0px 88px;
    flex-wrap: wrap;

    .bosh {
        width: 100%;
        height: 15%;
        display: flex;

        .chap {
            width: 70%;
            height: 100%;
            display: flex;
            align-items: center;
            color: white;
            gap: 10px;
          img {
            width: 39.05px;
            height: 40px;
            border-radius: 100%;
            object-fit: cover;
          }

          strong {
            font-size: 28px;
            margin: 0px 60px 0px 0px;
          }

          nav ul {
            display: flex;
            list-style: none;
            gap: 10%;
            font-size: 18px;
          }
        }

        .ong {
            display: flex;
            width: 30%;
            height: 100%;
            align-items: center;
            justify-content: flex-end;
            gap: 30px;
            padding: 20px;

            .img1 {
                width: 34px;
                height: 34px;
            }
            
            .img2 {
                width: 34px;
                height: 34px;
            }
        }

        @media (min-width: 1024px){

            .korinmas {
                display: none;
            }
        }
   

    }



    // birinchining bosh qismi tugadi


    .orta {
        width: 100%;
        height: 55%;
        display: flex;
        color: white;
        align-items: center;

        div {
            width: 579px;
            height: 201px;

            strong {
                font-family: 'Work Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 56px;
            }
        }

    }
    // orta qism tugadi
    .teg {
        width: 100%;
        height: 30%;
        background-color: rgba(255, 0, 0, 0.772);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 16px;
        color: white;

        strong {
            width: 616px;
            height: 55px;
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 46px;
        }

        p {
            width: 616px;
            height: 72px;
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            margin: 0;
        }

        button {
            width: 93px;
            height: 18px;
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            background-color: #FF753A;
            border-radius: 32px;
            width: 135px;
            height: 39px;
            color: white;
            border: none;
            padding: 8px 16px;
        }
    }

}
// teg tugadi
// birinchi tugad

.ikkinchi {
    background-color: white;
    display: flex;
    padding: 88px;
    column-gap: 3%;
    row-gap: 14px;
    flex-wrap: wrap;

    .d1 {
        width: 100%;
        height: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        p {
            width: 80px;
            height: 3px;
            background-color: #AB0433;
        }

        strong {
            font-size: 40px;
        }

    }

    .d2 {
        width: 31.3%;
        height: 80%;
        display: flex;
        flex-direction: column;

        div:nth-child(1) {
            width: 100%;
            height: 60%;
            display: flex;
            justify-content: center;
            align-items: flex-end;

            img {
                height: 100%;
                
            }
        }
        
        div:nth-child(2) {
            width: 100%;
            height: 40%;
            display: flex;
            flex-wrap: wrap;
            padding: 16px 24px;
            justify-content: space-between;

            strong:nth-child(1) {
                width: 70%;
                font-size: 100%;
                padding: 0px;
            }

            .tepa {
                position: relative;
                bottom: 10px;
                width: 100%;
            }

            .past {
                width: 100%;
                font-size: 12px;
                
            }
        }
    }






    @media (min-width: 1024px){
        div:nth-child(5) {
            display: none;
        }
    }
}

// ikkinchi tugadi


.uchinchi {
    display: flex;
    padding: 88px;
    column-gap: 3%;
    row-gap: 14px;
    flex-wrap: wrap;

    .d1 {
        width: 100%;
        height: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        p {
            width: 80px;
            height: 3px;
            background-color: #AB0433;
        }

        strong {
            font-size: 40px;
        }

    }

    .d2 {
        background-color: white;
        width: 31.3%;
        height: 80%;
        display: flex;
        flex-direction: column;

        div:nth-child(1) {
            width: 100%;
            height: 60%;
            display: flex;
            justify-content: center;
            align-items: flex-end;

            img {
                height: 100%;
                
            }
        }
        
        div:nth-child(2) {
            width: 100%;
            height: 40%;
            display: flex;
            flex-wrap: wrap;
            padding: 16px 24px;
            justify-content: space-between;

            strong:nth-child(1) {
                width: 70%;
                height: 23px;
                font-size: 18px;
                padding: 0px;
            }

            .tepa {
                position: relative;
                bottom: 10px;
                width: 300px;
            }

            .past {
                width: 300px;
                font-size: 12px;
                
            }
        }
    }



    @media (min-width: 1023px){
        div:nth-child(5) {
            display: none;
        }
    }

}
// uchinchi tugadi

.tortinchi {
    background-color: white;
    display: flex;
    padding: 88px 5% 188px 5%;
    row-gap: 3%;
    column-gap: 32px;
    flex-wrap: wrap;

    .d11 {
        width: 100%;
        height: 16%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        p {
            width: 80px;
            height: 3px;
            background-color: #AB0433;
        }

        strong {
            font-size: 40px;
        }

    }

    .d22 {
        width: 48%;
        height: 42%;
        display: flex;
        flex-direction: column;

        .tepa { 
            width: 100%;
            height: 70%;
            display: flex;  
            justify-content: center;
              
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .past {
            width: 100%;
            height: 30%;
            display: flex;
            flex-direction: column;
            padding: 32px;
            gap: 4px;

            strong {
                font-size: 24px;
            }

            p {
                color: #C4C4C4;
                font-size: 18px;
            }
        }
    }

    // tugadi 22

    .d23 {
        width: 48%;
        height: 42%;
        display: flex;
        flex-direction: column;
        .tepa { 
            width: 100%;
            height: 70%;
            display: flex;  
            justify-content: center;
              
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .past {
            width: 100%;
            height: 30%;
            display: flex;
            flex-direction: column;
            padding: 32px;
            gap: 4px;

            strong {
                font-size: 140%;
            }

            p {
                color: #C4C4C4;
                font-size: 100%;
            }
        }
    }

    // tugadi 23

    .d24 {
        width: 30%;
        height: 42%;
        display: flex;
        flex-direction: column;

        .tepa { 
            width: 100%;
            height: 70%;
            display: flex;  
            justify-content: center;
              
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .past {
            width: 100%;
            height: 30%;
            display: flex;
            flex-direction: column;
            padding: 10%;
            gap: 4%;

            strong {
                font-size: 140%;
            }

            p {
                color: #C4C4C4;
                font-size: 100%;
            }
        }
    }

    // tugadi 24

    .d25 {
        width: 30%;
        height: 42%;

        display: flex;
        flex-direction: column;

        .tepa { 
            width: 100%;
            height: 70%;
            display: flex;  
            justify-content: center;
              
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .past {
            width: 100%;
            height: 30%;
            display: flex;
            flex-direction: column;
            padding: 10%;
            gap: 4%;

            strong {
                font-size: 140%;
            }

            p {
                color: #C4C4C4;
                font-size: 100%;
            }
        }
    }

    // tugadi 25

    .d26 {
        width: 32.9%;
        height: 42%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 70% 30%;

        .tepa { 
            display: flex;  
            justify-content: center;
              
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .past {
            display: flex;
            flex-direction: column;
            padding: 10%;
            gap: 4%;

            strong {
                font-size: 140%;
            }

            p {
                color: #C4C4C4;
                font-size: 100%;
            }
        }
    }

    
}


// d26 tugadi

// tortinchi tugadi


.beshinchi {
    display: flex;
    flex-direction: column;

    .yuqori {
        width: 100%;
        height: 90%;
        background-color: #000000b3;
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: 1fr;
        padding: 60px 100px;

        .chap1 {
            display: flex;
            gap: 48px;
            align-items: center;

            nav ul {
                list-style: none;
                color: white;
                display: flex;
                flex-direction: column;
                gap: 10px;
                font-size: 20px;

                li:nth-child(1) {
                    background-color: white;
                    width: 90px;
                    height: 3px;
                }
            }
        }

        .ong1 {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 60% 40%;

            .tepa {
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;

                img {
                    width: 39.05px;
                    height: 40px;
                    border-radius: 100%;
                    object-fit: cover;
                }

                strong {
                    font-size: 28px;
                    color: white;
                }
            }

            .saitlar {
                display: flex;
                gap: 12px;
                justify-content: flex-end;
                padding: 30px 0px 0px 0px;
                img {
                    height: 30px;
                    background-color: white;
                }
            }
        }

    }

    .pastki {
        width: 100%;
        height: 10%;
        background-color: rgb(0, 0, 0);
        display: flex;
        align-items: center;
        padding: 8px 100px;
        color: white;
    }
}

}














// mukammal dastur tugadi

//  1024 px holatda medialar bilan ishlash























@media (max-width: 1024px) {

    @media (min-width: 375px) {
   
    * {
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
    }

  
main {
    background-color: #C4C4C4;
    width: 100%;
    height: 4927px;
    display: grid;
    grid-template-columns:  1fr;
    grid-template-rows: 25% 15% 15% 35% 10%;
}

.birinchi {
    display: flex;
    flex-direction: column;
    padding: 0px 65px;

    .bosh {
        width: 100%;
        height: 15%;
        display: flex;

        .chap {
            width:  80%;
            height: 100%;
            display: flex;
            align-items: center;
            color: white;
            gap: 10px;
          img {
            width: 39.05px;
            height: 40px;
            border-radius: 100%;
            object-fit: cover;
          }

          strong {
            font-size: 28px;
            margin: 0px 60px 0px 0px;
          }

          nav ul {
          display: none;
          }

        
        
          
        }
        
        .ong {
           display: none;
            
            .img1 {
                display: none;
            }
            
            .img2 {
                display: none;
            }
        }
        
        .korinmas {
            display: flex;
            flex-direction: column;
            width: 20%; 
            height: 100%;
            justify-content: center;
            align-items: center;
            gap: 6px;
            cursor: pointer;

            p {
                width: 60px; 
                height: 3px;
                background-color: white;
            }
        }

    }
        
       
        
    
    
    
    // birinchining bosh qismi tugadi
    

    .orta {
        width: 100%;
        height: 60%;
        display: flex;
        color: white;
        align-items: center;

        div {
            width: 579px;
            height: 201px;

            strong {
                font-family: 'Work Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 56px;
            }
        }

    }
    // orta qism tugadi
    .teg {
        background-color: rgba(255, 0, 0, 0.772);
        width: 100%;
        height: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 16px;
        color: white;

        strong {
            width: 616px;
            height: 55px;
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 46px;
        }

        p {
            width: 616px;
            height: 72px;
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            margin: 0;
        }

        button {
            width: 93px;
            height: 18px;
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            background-color: #FF753A;
            border-radius: 32px;
            width: 135px;
            height: 39px;
            color: white;
            border: none;
            padding: 8px 16px;
        }
    }

}
// teg tugadi
// birinchi tugad

.ikkinchi {
    background-color: white;
    display: flex;
    padding: 80px 64px;
    column-gap: 3%;
    row-gap: 14px;
    flex-wrap: wrap;
    .d1 {
        width: 100%;
        height: 16%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        p {
            width: 80px;
            height: 3px;
            background-color: #AB0433;
        }

        strong {
            font-size: 40px;
        }

    }

    .d2 {
        width: 48%;
        height: 42%;
        display: flex;
        flex-direction: column;

        div:nth-child(1) {
            width: 100%;
            height: 60%;
            display: flex;
            justify-content: center;
            align-items: flex-end;

            img {
                height: 100%;
                
            }
        }
        
        div:nth-child(2) {
            width: 100%;
            height: 40%;
            display: flex;
            flex-wrap: wrap;
            padding: 16px 24px;
            justify-content: space-between;

            strong:nth-child(1) {
                width: 70%;
                font-size: 100%;
                padding: 0px;
            }

            .tepa {
                position: relative;
                bottom: 2px;
                width: 300px;
            }

            .past {
                width: 300px;
                font-size: 12px;
                
            }
        }
    }

}

// ikkinchi tugadi

.uchinchi {
    display: flex;
    padding: 80px 64px;
    column-gap: 3%;
    row-gap: 14px;
    flex-wrap: wrap;
    .d1 {
        width: 100%;
        height: 16%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        p {
            width: 80px;
            height: 3px;
            background-color: #AB0433;
        }

        strong {
            font-size: 40px;
        }

    }

    .d2 {
        background-color: white;
        width: 48%;
        height: 42%;
        display: flex;
        flex-direction: column;

        div:nth-child(1) {
            width: 100%;
            height: 60%;
            display: flex;
            justify-content: center;
            align-items: flex-end;

            img {
                height: 100%;
                
            }
        }
        
        div:nth-child(2) {
            width: 100%;
            height: 40%;
            display: flex;
            flex-wrap: wrap;
            padding: 16px 24px;
            justify-content: space-between;

            strong:nth-child(1) {
                width: 70%;
                font-size: 100%;
                padding: 0px;
            }

            .tepa {
                position: relative;
                bottom: 2px;
                width: 300px;
            }

            .past {
                width: 300px;
                font-size: 12px;
                
            }
        }
    }

}

// uchinchi tugadi

.tortinchi {
    background-color: white;
    display: flex;
    padding: 88px 8% 188px 8%;
    row-gap: 48px;
    column-gap: 3%;
    flex-wrap: wrap;

    .d11 {
        width: 100%;
        height: 16%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        p {
            width: 80px;
            height: 3px;
            background-color: #AB0433;
        }

        strong {
            font-size: 40px;
        }

    }

    .d22 {
        width: 48%;
        height: 42%;
        display: flex;
        flex-direction: column;
        .tepa { 
            width: 100%;
            height: 70%;
            display: flex;  
            justify-content: center;
              
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .past {
            width: 100%;
            height: 30%;
            display: flex;
            flex-direction: column;
            padding: 32px;
            gap: 4px;
            justify-content: center;
            strong {
                font-size: 24px;
            }

            p {
                color: #C4C4C4;
                font-size: 18px;
            }
        }
    }

    // tugadi 22

    .d23 {

        width: 48%;
        height: 42%;
        display: flex;
       flex-direction: column;

        .tepa { 
            width: 100%;
            height: 70%;
            display: flex;  
            justify-content: center;
              
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .past {
            width: 100%;
            height: 30%;
            display: flex;
            flex-direction: column;
            padding: 32px;
            gap: 4px;
            justify-content: center;
            strong {
                font-size: 24px;
            }

            p {
                color: #C4C4C4;
                font-size: 18px;
            }
        }
    }

    // tugadi 23

    .d24 {
        width: 48%;
        height: 42%;
        display: flex;
        flex-direction: column;
        .tepa { 
            width: 100%;
            height: 70%;
            display: flex;  
            justify-content: center;
              
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .past {
            width: 100%;
            height: 30%;
            display: flex;
            flex-direction: column;
            padding: 32px;
            gap: 4px;
            justify-content: center;
            strong {
                font-size: 24px;
            }

            p {
                color: #C4C4C4;
                font-size: 18px;
            }
        }
    }

    // tugadi 24

    .d25 {
        width: 48%;
        height: 42%;
        display: flex;
       flex-direction: column;

        .tepa { 
            width: 100%;
            height: 70%;

            display: flex;  
            justify-content: center;
              
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .past {
            width: 100%;
            height: 30%;
            display: flex;
            flex-direction: column;
            padding: 32px;
            gap: 4px;
            justify-content: center;
            strong {
                font-size: 24px;
            }

            p {
                color: #C4C4C4;
                font-size: 18px;
            }
        }
    }

    // tugadi 25

    .d26 {
       
        width: 49%;
        height: 42%;
        display: none;
        grid-template-columns: 1fr;
        grid-template-rows: 70% 30%;

        .tepa { 
            display: flex;  
            justify-content: center;
              
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .past {
            display: flex;
            flex-direction: column;
            padding: 32px;
            gap: 4px;

            strong {
                font-size: 24px;
            }

            p {
                color: #C4C4C4;
                font-size: 18px;
            }
        }
    }

    // d26 tugadi



}

// tortinchi tugadi



.beshinchi {

    display: flex;
    flex-direction: column;
    // grid-template-columns: 1fr;
    // grid-template-rows: 90% 10%;

    .yuqori {
        height: 90%;
        width: 100%;
        background-color: #000000b3;
        display: flex;
        // grid-template-columns: 60% 40%;
        // grid-template-rows: 1fr;
        padding: 60px 100px;

        .chap1 {
            width: 60%;
            height: 100%;
            display: flex;
            gap: 48px;
            align-items: center;


            @media (max-width: 763px) {
                .ikki ul {
                    display: none;
                }
            }



            .bir ul {
                list-style: none;
                color: white;
                display: flex;
                flex-direction: column;
                gap: 10px;
                font-size: 20px;

                li:nth-child(1) {
                    background-color: white;
                    width: 90px;
                    height: 3px;
                }
            }

            .ikki ul {
                list-style: none;
                color: white;
                display: flex;
                flex-direction: column;
                gap: 10px;
                font-size: 20px;

                li:nth-child(1) {
                    background-color: white;
                    width: 90px;
                    height: 3px;
                }
            }
        }

        .ong1 {
            width: 40%;
            height: 100%;
            display: flex;
            flex-direction: column;
            // grid-template-columns: 1fr;
            // grid-template-rows: 60% 40%;

            .tepa {
                width: 100%;
                height: 60%;
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;

                img {
                    width: 39.05px;
                    height: 40px;
                    border-radius: 100%;
                    object-fit: cover;
                }

                strong {
                    font-size: 28px;
                    color: white;
                }
            }

            .saitlar {
                width: 100%;
                height: 40%;
                display: flex;
                gap: 12px;
                justify-content: flex-end;
                padding: 30px 0px 0px 0px;
                img {
                    height: 30px;
                    background-color: white;
                }
            }
        }

    }

    .pastki {
        width: 100%;
        height: 10%;
        background-color: rgb(0, 0, 0);
        display: flex;
        align-items: center;
        padding: 8px 100px;
        color: white;
    }
}

}

}


// beshinchi tugadi
// ENG KICHIK QISM


@media (max-width: 763px) {

   
    * {
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
    }

  
main {
    background-color: #C4C4C4;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    // grid-template-columns:  1fr;
    // grid-template-rows: 7% 26% 26% 34% 7%;
}   
    
.birinchi {
    background-color: white;
    display: flex;
    flex-direction: column;
    // grid-template-columns: 1fr;
    // grid-template-rows: 15% 60% 25%;
    padding: 0px 24px;

    .bosh {
        width: 100%;
        height: 15%;
        display: flex;

        .chap {
            width:  80%;
            height: 100%;
            display: flex;
            align-items: center;
            color: white;
            gap: 10px;
          img {
            width: 23.05px;
            height: 24px;
            border-radius: 100%;
            object-fit: cover;
          }

          strong {
            font-size: 22px;
          }

          nav ul {
          display: none;
          }

        
        
          
        }
        
        .ong {
           display: none;
            
            .img1 {
                display: none;
            }
            
            .img2 {
                display: none;
            }
        }
        
        .korinmas {
            display: flex;
            flex-direction: column;
            width: 20%; 
            height: 100%;
            justify-content: center;
            align-items: center;
            gap: 4px;
            cursor: pointer;

            p {
                width: 35px; 
                height: 2px;
                background-color: white;
            }
        }

    }
        
       
        
    
    
    
    // birinchining bosh qismi tugadi
    

    .orta {
        width: 100%;
        height: 60%;
        display: flex;
        color: white;
        align-items: center;
        justify-content: center;

        div {

            text-align: center;

            strong {
                font-family: 'Work Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 32px;
            }
        }

    }
    // orta qism tugadi
    .teg {
        width: 100%;
        height: 25%;
        background-color: rgba(255, 0, 0, 0.772);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 9px;
        color: white;
        padding: 18px 51px;

        strong {
            font-family: 'Work Sans';
            font-style: normal;
            font-size: 100%;
            width: 80%;
        }

        p {
            font-family: 'Work Sans';
            font-style: normal;
            font-size: 70%;
            margin: 0;
            width: 80%;
        }

        button {
            font-family: 'Work Sans';
            font-style: normal;
            font-size: 12px;
            background-color: #FF753A;
            border-radius: 32px;
            width: 30%;
            height: 32px;
            color: white;
            border: none;
            padding: 8px 12px;
        }
    }

}
// teg tugadi
// birinchi tugad



.ikkinchi {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // grid-template-columns: 1fr;
    // grid-template-rows: 5% 23% 23% 23% 23%;
    row-gap: 3%;
    

    p {
        width: 100%;
    }
    strong {
        width: 80%;
    }
    

    .d1 {
        width: 100%;
        height: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        p {
            width: 80px;
            height: 3px;
            background-color: #AB0433;
        }

        strong {
            font-size: 24px;
        }

    }

    .d2 {
        width: 70%;
        height: 20%;
        display: flex;
        flex-direction: column;

        div:nth-child(1) {
            width: 100%;
            height: 60%;
            display: flex;
            justify-content: center;
            align-items: flex-end;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                
            }
        }
        
        div:nth-child(2) {
            width: 100%;
            height: 40%;
            display: flex;
            flex-wrap: wrap;
            padding: 16px 24px;
            justify-content: space-between;

            strong:nth-child(1) {
                width: 100%;
                height: 23px;
                font-size: 18px;
                padding: 0px;
            }

        

            .tepa {
                position: relative;
                bottom: 2px;
                width: 100%;
            }

            .past {
                width: 100%;
                font-size: 12px;
                
            }
        }
    }

}


// ikkinchi tugadi



.uchinchi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // grid-template-columns: 1fr;
    // grid-template-rows: 5% 23% 23% 23% 23%;
    row-gap: 3%;


    p {
        width: 100%;
    }
    strong {
        width: 80%;
    }
    
    .d1 {
        width: 100%;
        height: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        p {
            width: 80px;
            height: 3px;
            background-color: #AB0433;
        }

        strong {
            font-size: 24px;
        }

    }

    .d2 {
        background-color: white;
        width: 70%;
        height: 20%;
        display: flex;
        flex-direction: column;

        div:nth-child(1) {
            width: 100%;
            height: 60%;
            display: flex;
            justify-content: center;
            align-items: flex-end;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                
            }
        }
        
        div:nth-child(2) {
            width: 100%;
            height: 40%;
            display: flex;
            flex-wrap: wrap;
            padding: 16px 24px;
            justify-content: space-between;

            strong:nth-child(1) {
                width: 100%;
                height: 23px;
                font-size: 18px;
                padding: 0px;
            }

            .tepa {
                position: relative;
                bottom: 2px;
                width: 100%;
            }

            .past {
                width: 100%;
                font-size: 12px;
                
            }
        }
    }

}


// UCHINCHI TUGADI



.tortinchi {
    background-color: white;
    display: flex;
    flex-direction: column;
    // grid-template-columns: 1fr;
    // grid-template-rows: 4% 19.2% 19.2% 19.2% 19.2% 19.2%;
    row-gap: 24px;
    justify-content: center;
    align-items: center;


    p {
        width: 100%;
    }

    strong {
        width: 80%;
    }



    .d11 {
        width: 100%;
        height: 4%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        p {
            width: 80px;
            height: 3px;
            background-color: #AB0433;
        }

        strong {
            font-size: 24px;
        }

    }

    .d22 {
        width: 70%;
        height: 19.2%;
        display: flex;
        // grid-template-columns: 1fr;
        // grid-template-rows: 70% 30%;
        flex-direction: column;

        .tepa { 
            width: 100%;
            height: 70%;
            display: flex;  
            justify-content: center;
              
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .past {
            width: 100%;
            height: 30%;

            display: flex;
            flex-direction: column;
            padding: 32px;
            gap: 4px;
            justify-content: center;
            strong {
                font-size: 24px;
            }

            p {
                color: #C4C4C4;
                font-size: 18px;
            }
        }
    }

    // tugadi 22

    .d23 {
        width: 70%;
        height: 19.2%;
        display: flex;
        flex-direction: column;
        // grid-template-columns: 1fr;
        // grid-template-rows: 70% 30%;

        .tepa { 
            width: 100%;
            height: 70%;
            display: flex;  
            justify-content: center;
              
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .past {
            width: 100%;
            height: 30%;
            display: flex;
            flex-direction: column;
            padding: 32px;
            gap: 4px;
            justify-content: center;
            strong {
                font-size: 24px;
            }

            p {
                color: #C4C4C4;
                font-size: 18px;
            }
        }
    }

    // tugadi 23

    .d24 {
        width: 70%;
        height: 19.2%;
        display: flex;
        flex-direction: column;
        // grid-template-columns: 1fr;
        // grid-template-rows: 70% 30%;

        .tepa { 
            width: 100%;
            height: 70%;
            display: flex;  
            justify-content: center;
              
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .past {
            width: 100%;
            height: 30%;
            display: flex;
            flex-direction: column;
            padding: 32px;
            gap: 4px;
            justify-content: center;
            strong {
                font-size: 24px;
            }

            p {
                color: #C4C4C4;
                font-size: 18px;
            }
        }
    }

    // tugadi 24

    .d25 {

        width: 70%;
        height: 19.2%;
        display: flex;
        flex-direction: column;
        // grid-template-columns: 1fr;
        // grid-template-rows: 70% 30%;

        .tepa { 
            width: 100%;
            height: 70%;
            display: flex;  
            justify-content: center;
              
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .past {
            width: 100%;
            height: 30%;
            display: flex;
            flex-direction: column;
            padding: 32px;
            gap: 4px;
            justify-content: center;
            strong {
                font-size: 24px;
            }

            p {
                color: #C4C4C4;
                font-size: 18px;
            }
        }
    }

    // tugadi 25

    .d26 {
       

        display: none;
        grid-template-columns: 1fr;
        grid-template-rows: 70% 30%;

        .tepa { 
            display: flex;  
            justify-content: center;
              
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .past {
            display: flex;
            flex-direction: column;
            padding: 32px;
            gap: 4px;

            strong {
                font-size: 24px;
            }

            p {
                color: #C4C4C4;
                font-size: 18px;
            }
        }
    }

    // d26 tugadi



}
 

// tortinchi tugadi


.beshinchi {
    display: flex;
    flex-direction: column;
    // grid-template-columns: 1fr;
    // grid-template-rows: 90% 10%;

    .yuqori {
        width: 100%;
        height: 90%;
        background-color: #000000b3;
        display: flex;
        flex-direction: column;
        // grid-template-columns: 1fr;
        // grid-template-rows: 80% 20%;
        padding: 60px 100px;

        .chap1 {
            width: 100%;
            height: 80%;
            display: flex;
            gap: 48px;
            align-items: center;
            justify-content: center;


            .ikki {
                display: none;
            }

            .bir ul {
                list-style: none;
                color: white;
                display: flex;
                flex-direction: column;
                gap: 10px;
                font-size: 20px;
                text-align: center;
                justify-content: center;
                align-items: center;

                li:nth-child(1) {
                    background-color: white;
                    width: 90px;
                    height: 3px;
                    margin: auto;
                    text-align: center;
                }
            }
        }

        .ong1 {
            width: 100%;
            height: 20%;
            display: flex;
            // grid-template-columns: 1fr;
            // grid-template-rows: 60% 40%;

            .tepa {
                display: none;
            }

            .saitlar {
                width: 100%;
                height: 100%;
                display: flex;
                gap: 12px;
                padding: 30px 0px 0px 0px;
                justify-content: center;
                align-items: center;
                text-align: center;
                img {
                    height: 30px;
                    background-color: white;
                }
            }
        }

    }

    .pastki {
        width: 100%;
        height: 10%;
        background-color: rgb(0, 0, 0);
        display: flex;
        align-items: center;
        padding: 8px 100px;
        color: white;
        justify-content: center;
        text-align: center;
    }
}


}


